<br/><h5 class="">Pastas list</h5><br/>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @pastas.each do |pasta| %>
      <tr>
        <td><%= pasta.name %></td>
        <td>
          <%= form_tag('/orders') do %>
            <%= hidden_field_tag 'pasta_id', pasta.id  %>
            <%= submit_tag 'Order', class: 'btn btn-outline-info btn-sm' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
