<br/><h5 class="">Pasta plans</h5><br/>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price/month</th>
    </tr>
  </thead>
  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td><%= subscription.name %></td>
        <td><%= number_to_currency(subscription.monthly_price) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
